{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} Video <span class="game">Game</span> Index {% endblock %}</h1>

{% endblock %}

{% block content %}

<strong>{{ message }}</strong>
<p>{{ word }}</p>

  <form method="post">
    <label for="title">Search for a Game sales Per Console</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <input type="submit" value="Submit">
  </form>

<strong>{{ message }}</strong>
<p>{{ word }}</p>

<form method="post">
    <label for="genre">Search for a Genre sales Per Console</label>
    <input name="genre" id="genre" value="{{ request.form['genre'] }}" required>
    <input type="submit" value="Submit">
  </form>

<!--<div>-->
<!--    {% for datas in data %}-->
<!--        <span>{{ datas['_id'] }}</span>-->
<!--        <p>{{ datas['name'] }}</p>-->
<!--    {% endfor %}-->

<!--</div>-->
{% block chart %}

<div class ="container col-6" id="chart_container">

<canvas id="lineChart" width="400" height="400"></canvas>
    <script>
        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                    labels: {{ labels | safe }},
                    datasets: [{
                         label: "My First Dataset",
                         data: {{ values | safe }},
                         fill: false,
                         lineTension: 0.1
                    }]
            }
        });
    </script>
</div>
{% endblock chart %}

<a href="{{ url_for('sample.other_example') }}"> Next Page </a>
{% endblock %}

