{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} Video Game Index {% endblock %}</h1>
{% endblock %}

{% block content %}

<strong>{{ message }}</strong>
<p>{{ word }}</p>

  <form method="post">
    <label for="name">Search for a Video Game</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <input type="submit" value="Submit">
  </form>


<!--<div>-->
<!--    {% for datas in data %}-->
<!--        <span>{{ datas['_id'] }}</span>-->
<!--        <p>{{ datas['name'] }}</p>-->
<!--    {% endfor %}-->

<!--</div>-->
{% block chart %}

<script src ="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<div class ="container col-6" id="chart_container">
<canvas id="lineChart" width="400" height="400"></canvas>
    <script>
        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                    labels: {{ labels | safe }},
                    datasets: [{
                         label: "My First Dataset",
                         data: {{ values | safe }},
                         fill: false,
                         lineTension: 0.1
                    }]
            }
        });
    </script>
</div>
{% endblock chart %}

<a href="{{ url_for('sample.other_example') }}"> Next Page </a>
{% endblock %}

